In [3]:
import pandas as pd

In [2]:
pd.__file__

'C:\\Users\\Michal\\Desktop\\Data-Engineering-Zoomcamp-26\\Module_1\\pipeline\\.venv\\Lib\\site-packages\\pandas\\__init__.py'

In [5]:
# DATA DOWNLOAD
prefix = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/"
url = f"{prefix}/yellow_tripdata_2021-01.csv.gz"
url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow//yellow_tripdata_2021-01.csv.gz'

In [6]:
# DATA TYPES AND COLUMNS FOR PARSING
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [7]:
# ACTUAL DOWNLOAD AND READ INTO DF
# df = pd.read_csv(url, nrows = 100)
df = pd.read_csv(url, 
                 dtype=dtype, 
                 parse_dates=parse_dates)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
len(df)

1369765

In [1]:
# ENGINE FOR DB CONNECTION
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
# SHOWING SCHEMA USED BELOW IN .to_sql() METHOD
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [14]:
# GETTING DATA IN CHUNKS FOR CHUNK LOADING --> ITERATOR
df_iter = pd.read_csv(url, 
                 dtype=dtype, 
                 parse_dates=parse_dates,
                iterator=True,
                chunksize=100000)
# GETS ME AN INTERATOR, NOT DF

In [16]:
from tqdm.auto import tqdm
for chunk in tqdm(df_iter):
    print(len(chunk))
    chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    print("Chunk inserted")